*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --label-width:30px;
    --label-border:2px;
}
.on-off label{
    background-color: rgb(255, 0, 0);
    width: calc(var(--label-width)*2);
    height: calc(var(--label-width));
    display: block;
    border-radius: 25px;
    border: var(--label-border) solid rgba(0, 0, 0, 0.195);
    position: relative;
    transition: all 500ms;
}
.on-off label .off{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    left: var(--label-width);
    top: 25%;
    font-size: 10px;
    color: rgb(91, 6, 6);
    transition: all 500ms;
    user-select: none;
}
.on-off label .on{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    left:calc(var(--label-width)/2);
    top: 25%;
    font-size: 10px;
    color: rgb(21, 92, 5);
    opacity: 0;
    transition: all 1000ms;
    user-select: none;
}
.on-off label::after{
    content:"";
    display: block;
    border-radius: 50%;
    background-color: rgb(189, 16, 16);
    height:var(--label-width);
    width: var(--label-width);
    position: absolute;
    top: calc(var(--label-border)*-1);
    left: calc(var(--label-border)*-1);
    transition: all 500ms;
    box-shadow: inset 0px 0px 5px 1px rgb(3, 0, 0), 0 0 1px 0px;
}
.on-off input:checked ~ label{
    background: rgb(0, 255, 0);
}
.on-off input:checked ~ label::after{
    left: calc(var(--label-width)/1.07);
    background-color: rgb(107, 189, 95);
}
.on-off input:checked ~ label .off{
    opacity: 0;
}
.on-off input:checked ~ label .on{
    opacity: 100%;
}
.on-off input{
   display: none;
}