*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}
#hero{
    background: linear-gradient(to bottom right, #2A4032 , #3A5E46);
    padding-top: 25px;
}
#hero .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hero .header span{
    font-family: Lato;
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
}
#hero .header .nav-list{
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
    padding: 0;
}
#hero .header .nav-list li a{
    padding: 8px;
    text-decoration: none;
    color: #FFFFFF4D;
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
}
#hero .header .nav-list li a:hover{
    color: #FFFFFF;
}
#hero .header .shop img{
    display: block;
} 
#hero .header .shop{
    background-color: #FDDE67;
    padding: 12px;
    border-radius: 50%;
}
#hero .header .shop:hover{
    background-color:#FFEB9D;
}